<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>I miei post – FakeBuster</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    <div class="header">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo_fakebuster.png') }}" height="40">
            <h1>FakeBuster</h1>
        </div>

        <nav>
            <a href="/new_post">Nuovo Post</a>
            <a href="/feed">Feed</a>

            <!-- MENU UTENTE -->
            <div class="user-menu">
                <span class="username">{{ username }}</span>
                <div class="dropdown">
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </nav>
    </div>
</header>


<main class="container">
{% for post in posts %}
   <div class="post">

    <div class="post-header">
        <strong>@{{ post.autore.username }}</strong>
    </div>

    <h3>{{ post.titolo }}</h3>

  {% if post.img_url %}
    <img src="{{ url_for('static',
        filename='uploads/posts/' ~ post.img_url) }}"
         class="post-img">
{% endif %}

    <p>{{ post.testo }}</p>

    <span class="badge {{ post.stato }}">{{ post.stato }}</span>
    <small>Score IA: {{ post.ai_score }}</small>

    <form method="POST" action="/posts/delete/{{ post.id }}">
        <button class="danger">Elimina</button>
    </form>
</div>
{% else %}
    <p>Nessun post creato.</p>
{% endfor %}
</main>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
