<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Nuovo Post – FakeBuster</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    <div class="header">
         <div class="logo">
        <img src="{{ url_for('static', filename='img/logo_fakebuster.png') }}" height="40">
        <h1>FakeBuster</h1>
    </div>
        <nav>
            <a href="/feed">Feed</a>
            <a href="/my_posts">I miei post</a>
            <a href="/logout">Logout</a>
        </nav>
    </div>
</header>

<main class="container">
    <div class="card">
        <h2>Crea un nuovo post</h2>

      <form method="POST" action="/posts" enctype="multipart/form-data">

    <input type="text" name="titolo" placeholder="Titolo" required> 

    <textarea name="testo"placeholder="Testo" required></textarea>

    <!-- UPLOAD IMMAGINE -->
    <input type="file"
           name="image"
           accept="image/png,image/jpeg,image/webp">

    <button type="submit">Pubblica</button>
</form>
    </div>
</main>

<!-- POPUP APPELLO -->
<div id="appelloPopup" class="modal">
    <div class="modal-content">
        <img src="{{ url_for('static', filename='img/gpp_bad_24dp.png') }}" width="60">
        <h3>Post bloccato dall’IA</h3>
        <p>
            Il contenuto non ha superato la verifica automatica.
            Puoi fare appello a un fact-checker umano.
        </p>

        <form id="appelloForm" method="post">
    <textarea name="motivazione"
              placeholder="Spiega perché ritieni il post corretto"
              required></textarea>

    <button class="faiappello" type="submit">Fai appello</button>
    <button  class="Annulla" type="button" onclick="closePopup()">Annulla</button>
</form>
    </div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}

    {% if category == "danger" %}
      <div class="alert danger">{{ message }}</div>
    {% endif %}

    {% if category == "ia_blocked" %}
      <script>
        window.onload = function () {
         openAppelloPopup({{ message }}); // post_id
        };
      </script>
    {% endif %}

  {% endfor %}
{% endwith %}



<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
