<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>FakeBuster – Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="home-full">

    <img src="{{ url_for('static', filename='img/logo_fakebuster.png') }}"
         class="home-logo">

    <p class="home-title">
        Combatti la disinformazione con
    </p>

    <p class="home-highlight">
        Fake Buster Social
    </p>

    <a href="/login">
        <button class="home-btn primary">Accedi</button>
    </a>

    <p class="home-text">
        Non sei ancora registrato?
    </p>

    <a href="/register">
        <button class="home-btn secondary">Registrati Ora</button>
    </a>

</div>

</body>
</html>