<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Dashboard – Fact Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    <div class="header">
        <h1>Dashboard Fact Checker</h1>
        <nav>
            <a href="/logout">Logout</a>
        </nav>
    </div>
</header>

<main class="container">

<<h2>Appelli IA</h2>
{% for a in appelli %}
<div class="post">

    <!-- AUTORE -->
    <div class="post-header">
        <strong>@{{ a.post.autore.username }}</strong>
    </div>

    <h3>{{ a.post.titolo }}</h3>

{% if a.post.img_url %}
<img src="{{ url_for('static',
    filename='uploads/posts/' ~ a.post.img_url) }}"
     class="post-img">
{% endif %}

    <p>{{ a.post.testo }}</p>

    <p>
        <strong>Motivazione appello:</strong><br>
        {{ a.motivazione }}
    </p>

    <form method="post" action="/fact_checker/appelli/publish/{{ a.id }}">
        <button>Pubblica</button>
    </form>

    <form method="post" action="/fact_checker/appelli/block/{{ a.id }}">
        <button class="danger">Mantieni bloccato</button>
    </form>

</div>
{% endfor %}

<hr>
<h2>Segnalazioni utenti</h2>
{% for s in segnalazioni %}
<div class="post">

    <!-- AUTORE -->
    <div class="post-header">
        <strong>@{{ s.post.autore.username }}</strong>
    </div>

    <h3>{{ s.post.titolo }}</h3>

 {% if s.post.img_url %}
<img src="{{ url_for('static',
    filename='uploads/posts/' ~ s.post.img_url) }}"
     class="post-img">
{% endif %}

    <p>{{ s.post.testo }}</p>

    <p>
        <strong>Motivo segnalazione:</strong><br>
        {{ s.motivo }}
    </p>

    <form method="post" action="/fact_checker/segnalazioni/publish/{{ s.id }}">
        <button>Pubblica</button>
    </form>

    <form method="post" action="/fact_checker/segnalazioni/block/{{ s.id }}">
        <button class="danger">Blocca</button>
    </form>

</div>
{% endfor %}
</main>

</body>
</html>